nodered/flow.json
[
  {"id":"mqtt_broker_1","type":"mqtt-broker","name":"Mosquitto Local","broker":"localhost","port":"1883","clientid":"nodered-aquaponics","autoConnect":true,"usetls":false,"keepalive":"60","cleansession":true},
  {"id":"tab_sensors","type":"tab","label":"Sensor → Firebase","disabled":false},
  {"id":"tab_actuators","type":"tab","label":"Aktuator Control","disabled":false},
  {"id":"in_temp","type":"mqtt in","z":"tab_sensors","name":"MQTT: temperature","topic":"aquaponics/sensors/temperature","qos":"1","datatype":"json","broker":"mqtt_broker_1","x":130,"y":60,"wires":[["fn_temp"]]},
  {"id":"fn_temp","type":"function","z":"tab_sensors","name":"Validate Temp","func":"var val=msg.payload.value;\nif(val===undefined||isNaN(val))return null;\nvar status=(val>=20&&val<=30)?'normal':'warning';\nmsg.sensor='temperature';\nmsg.rtdbPath='sensors/temperature';\nmsg.payload={value:parseFloat(val.toFixed(2)),unit:'°C',status:status,updatedAt:Date.now()};\nreturn msg;","outputs":1,"x":370,"y":60,"wires":[["rtdb_write","fn_firestore_prep"]]},
  {"id":"in_ph","type":"mqtt in","z":"tab_sensors","name":"MQTT: ph","topic":"aquaponics/sensors/ph","qos":"1","datatype":"json","broker":"mqtt_broker_1","x":130,"y":140,"wires":[["fn_ph"]]},
  {"id":"fn_ph","type":"function","z":"tab_sensors","name":"Validate pH","func":"var val=msg.payload.value;\nif(val===undefined||isNaN(val))return null;\nvar status=(val>=5.5&&val<=8.0)?'normal':'warning';\nmsg.sensor='ph';\nmsg.rtdbPath='sensors/ph';\nmsg.payload={value:parseFloat(val.toFixed(2)),unit:'pH',status:status,updatedAt:Date.now()};\nreturn msg;","outputs":1,"x":370,"y":140,"wires":[["rtdb_write","fn_firestore_prep"]]},
  {"id":"in_tds","type":"mqtt in","z":"tab_sensors","name":"MQTT: tds","topic":"aquaponics/sensors/tds","qos":"1","datatype":"json","broker":"mqtt_broker_1","x":130,"y":220,"wires":[["fn_tds"]]},
  {"id":"fn_tds","type":"function","z":"tab_sensors","name":"Validate TDS","func":"var val=msg.payload.value;\nif(val===undefined||isNaN(val))return null;\nvar status=(val>=400&&val<=800)?'normal':'warning';\nmsg.sensor='tds';\nmsg.rtdbPath='sensors/tds';\nmsg.payload={value:parseFloat(val.toFixed(1)),unit:'ppm',status:status,updatedAt:Date.now()};\nreturn msg;","outputs":1,"x":370,"y":220,"wires":[["rtdb_write","fn_firestore_prep"]]},
  {"id":"in_do","type":"mqtt in","z":"tab_sensors","name":"MQTT: do","topic":"aquaponics/sensors/do","qos":"1","datatype":"json","broker":"mqtt_broker_1","x":130,"y":300,"wires":[["fn_do"]]},
  {"id":"fn_do","type":"function","z":"tab_sensors","name":"Validate DO","func":"var val=msg.payload.value;\nif(val===undefined||isNaN(val))return null;\nvar status=(val>=4&&val<=10)?'normal':'warning';\nmsg.sensor='do';\nmsg.rtdbPath='sensors/do';\nmsg.payload={value:parseFloat(val.toFixed(2)),unit:'mg/L',status:status,updatedAt:Date.now()};\nreturn msg;","outputs":1,"x":370,"y":300,"wires":[["rtdb_write","fn_firestore_prep"]]},
  {"id":"in_turb","type":"mqtt in","z":"tab_sensors","name":"MQTT: turbidity","topic":"aquaponics/sensors/turbidity","qos":"1","datatype":"json","broker":"mqtt_broker_1","x":130,"y":380,"wires":[["fn_turb"]]},
  {"id":"fn_turb","type":"function","z":"tab_sensors","name":"Validate Turbidity","func":"var val=msg.payload.value;\nif(val===undefined||isNaN(val))return null;\nvar status=(val>=0.5&&val<=5.0)?'normal':'warning';\nmsg.sensor='turbidity';\nmsg.rtdbPath='sensors/turbidity';\nmsg.payload={value:parseFloat(val.toFixed(2)),unit:'NTU',status:status,updatedAt:Date.now()};\nreturn msg;","outputs":1,"x":370,"y":380,"wires":[["rtdb_write","fn_firestore_prep"]]},
  {"id":"rtdb_write","type":"firebase-rtdb","z":"tab_sensors","name":"RTDB: Set Sensor","operation":"set","path":"","pathType":"msg","pathField":"rtdbPath","x":640,"y":220,"wires":[[]],"info":"Install: node-red-contrib-firebase-rtdb\nPath dari msg.rtdbPath (contoh: sensors/temperature)"},
  {"id":"fn_firestore_prep","type":"function","z":"tab_sensors","name":"Prep Firestore Doc","func":"var original = msg.payload;\nmsg.payload = {\n    sensor: msg.sensor,\n    value: original.value,\n    unit: original.unit,\n    status: original.status,\n    timestamp: new Date().toISOString()\n};\nreturn msg;","outputs":1,"x":640,"y":360,"wires":[["firestore_add"]]},
  {"id":"firestore_add","type":"firestore-out","z":"tab_sensors","name":"Firestore: sensor_readings","collection":"sensor_readings","operation":"add","x":880,"y":360,"wires":[],"info":"Install: node-red-contrib-cloud-firestore"},
  {"id":"in_act_water","type":"mqtt in","z":"tab_actuators","name":"Cmd: waterPump","topic":"aquaponics/actuators/waterPump/command","qos":"1","datatype":"json","broker":"mqtt_broker_1","x":130,"y":80,"wires":[["fn_act_water"]]},
  {"id":"fn_act_water","type":"function","z":"tab_actuators","name":"Relay waterPump","func":"msg.payload=JSON.stringify({device:'waterPump',action:msg.payload.action,pin:7});\nreturn msg;","outputs":1,"x":370,"y":80,"wires":[["serial_out"]]},
  {"id":"in_act_aerator","type":"mqtt in","z":"tab_actuators","name":"Cmd: aerator","topic":"aquaponics/actuators/aerator/command","qos":"1","datatype":"json","broker":"mqtt_broker_1","x":130,"y":160,"wires":[["fn_act_aerator"]]},
  {"id":"fn_act_aerator","type":"function","z":"tab_actuators","name":"Relay aerator","func":"msg.payload=JSON.stringify({device:'aerator',action:msg.payload.action,pin:8});\nreturn msg;","outputs":1,"x":370,"y":160,"wires":[["serial_out"]]},
  {"id":"in_act_heater","type":"mqtt in","z":"tab_actuators","name":"Cmd: heater","topic":"aquaponics/actuators/heater/command","qos":"1","datatype":"json","broker":"mqtt_broker_1","x":130,"y":240,"wires":[["fn_act_heater"]]},
  {"id":"fn_act_heater","type":"function","z":"tab_actuators","name":"Relay heater","func":"msg.payload=JSON.stringify({device:'heater',action:msg.payload.action,pin:9});\nreturn msg;","outputs":1,"x":370,"y":240,"wires":[["serial_out"]]},
  {"id":"serial_out","type":"serial out","z":"tab_actuators","name":"Serial → Arduino","serial":"serial_cfg","x":600,"y":160,"wires":[]},
  {"id":"serial_cfg","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"10000"}
]
